In [44]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import extra.constants as const
import os
import time

In [45]:
# creating data
import pandas as pd
pd.DataFrame()
l_job_title=[]
l_company=[]
l_applicant_no=[]

In [46]:
# Log into Linked in
driver=webdriver.Chrome()
driver.get(const.BASE_URL)

driver.implicitly_wait(10)

mail=driver.find_element(By.ID,'session_key')
passcode=driver.find_element(By.ID,'session_password')

mail.send_keys(const.USER_MAIL)
passcode.send_keys(const.USER_PASS)

driver.implicitly_wait(10)
button=driver.find_element(By.XPATH,'/html/body/main/section[1]/div/div/form/div[2]/button')
button.click()

In [47]:
# Open Jobs

# Input Details
County=input('Enter the location...')
job=input('Enter Job')
driver.implicitly_wait(10)
driver.get(f'https://www.linkedin.com/jobs/search/?keywords={job}&location={County}&refresh=true')

# How to change pages????

In [49]:
# Finds lists inside the ul
job_blocks=driver.find_element(By.CLASS_NAME,'scaffold-layout__list-container').find_elements(By.TAG_NAME,'li')

# iterating through blocks...... I wont use it cause i dont understand it, but i'll put it here for later
# .....................................................................
# for job in job_blocks:
#     # scrolls
#     driver.execute_script("arguments[0].scrollIntoView();",job)
#     time.sleep(1)
# .......................................................................
# Looking for the job titles
job_links=driver.find_elements(By.XPATH,"//ul[@class='scaffold-layout__list-container']/li/div/div[1]/div[1]/div[2]/div[1]/a")
# Looping through them and clicking the links in the title
for link in job_links:
    link.click()
    time.sleep(1)
    job_title=driver.find_element(By.XPATH,"//h2[@class='t-24 t-bold jobs-unified-top-card__job-title']").text    
    company=driver.find_element(By.XPATH,"//div[@class='jobs-unified-top-card__primary-description']/div/a").get_attribute("text")
    applicant_no=driver.find_element(By.XPATH,"//div[@class='jobs-unified-top-card__primary-description']/div/span[5]").text
    # responsibilities=driver.find_elements(By.XPATH,"//div[@id='job-details']/span/ul[1]/li")   
    # print(responsibilities)
    
    # Add to repsective lists
    l_job_title.append(job_title)
    l_applicant_no.append(applicant_no)
    l_company.append(company)

In [50]:
# Create Dataframe
data={"Job Titlle": l_job_title,"Company Name":l_company,"No of applicants": l_applicant_no}
df=pd.DataFrame(data)

In [52]:
df.head()

,Job Titlle,Company Name,No of applicants
0,Senior Salesforce Developer,Singlify,85 applicants
1,Senior SecOps Engineer,Tala,52 applicants
2,"Senior Mobile Engineer, gt.school (Remote) - $...",Crossover,21 applicants
3,PVC Specialist (Talent Pooling ),RA International,102 applicants
4,Data Analyst,Turing,402 applicants